<header>
        <div class="container_Title">
            <h1>Portfolio</h1>
        </div>
        <nav>
            <input type="checkbox" id="chk_menu" name="chk_menu">
            <label for="chk_menu"  class="btnMenu">
                <fa-icon [icon]="faSortDown"></fa-icon>
            </label>
            <div class="green_separator"></div>
            <ul>
                <li><a href="#Profile">Profile</a></li>
                <li><a href="#Projet">Projet</a></li>
                <li><a href="#contact">Contact</a></li>
                <li>
                    <img src="../../assets/img/flagFR.png" alt="Drapeau Francais">
                    <input type="checkbox" id="chk_langage" name="chk_langage">
                    <label for="chk_langage">
                        <fa-icon [icon]="faSortDown"></fa-icon>
                    </label>
                </li>
            </ul>
        </nav>
</header>
