<div id="Projet">
    <h2 class="container_title">Projets</h2>
    <div class="container_projet">
        <div class="projet">
            <h3>Reservia</h3>
            <div class="projet_info">
                <p>Objectif :</p>
                <p>Technologie utilise :</p>
                <a href="">Lien du site</a>
            </div>
        </div>
        <div class="projet">
            <h3>Ohmyfood</h3>
            <div class="projet_info">
                <p>Objectif :</p>
                <p>Technologie utilise :</p>
                <a href="">Lien du site</a>
            </div>
        </div>
        <div class="projet">
            <h3>La chouette agence</h3>
            <div class="projet_info">
                <p>Objectif :</p>
                <p>Technologie utilise :</p>
                <a href="">Lien du site</a>
            </div>
        </div>
        <div class="projet">
            <h3>Oriteddy</h3>
            <div class="projet_info">
                <p>Objectif :</p>
                <p>Technologie utilise :</p>
                <a href="">Lien du site</a>
            </div>
        </div>
        <div class="projet">
            <h3>Hot sauces</h3>
            <div class="projet_info">
                <p>Objectif :</p>
                <p>Technologie utilise :</p>
                <a href="">Lien du site</a>
            </div>
        </div>
        <div class="projet">
            <h3>Groupomania</h3>
            <div class="projet_info">
                <p>Objectif :</p>
                <p>Technologie utilise :</p>
                <a href="">Lien du site</a>
            </div>
        </div>
    </div>
</div>
