<div>
    <div class="container_title">
        <h2>Quelles sont les services proposes ?</h2>
    </div>
    <div class="container_global_service">
        <div class="container_service">
            <h3 class="title_service">Creation de site internet</h3>
            <div class="separator_service"></div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non sem ipsum. Sed posuere elementum enim ac molestie. 
                Nunc pellentesque scelerisque facilisis. Praesent lacinia est et leo ultricies feugiat. Pellentesque felis ex, fringilla a metus vel, sagittis dictum risus. 
                Vivamus facilisis massa id molestie venenatis. Nulla velit mauris, placerat at viverra non, porta venenatis dui. Ut facilisis efficitur risus, 
                eget luctus risus venenatis pharetra.
            </div>
        </div>
        <div class="container_service">
            <h3 class="title_service">Mise a jour de votre site internet</h3>
            <div class="separator_service"></div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non sem ipsum. Sed posuere elementum enim ac molestie. 
                Nunc pellentesque scelerisque facilisis. Praesent lacinia est et leo ultricies feugiat. Pellentesque felis ex, fringilla a metus vel, sagittis dictum risus. 
                Vivamus facilisis massa id molestie venenatis. Nulla velit mauris, placerat at viverra non, porta venenatis dui. Ut facilisis efficitur risus, 
                eget luctus risus venenatis pharetra.
            </div>
        </div>
        <div class="container_service">
            <h3 class="title_service">Optimisation de site internet</h3>
            <div class="separator_service"></div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non sem ipsum. Sed posuere elementum enim ac molestie. 
                Nunc pellentesque scelerisque facilisis. Praesent lacinia est et leo ultricies feugiat. Pellentesque felis ex, fringilla a metus vel, sagittis dictum risus. 
                Vivamus facilisis massa id molestie venenatis. Nulla velit mauris, placerat at viverra non, porta venenatis dui. Ut facilisis efficitur risus, 
                eget luctus risus venenatis pharetra.
            </div>
        </div>
        <div class="container_service">
            <h3 class="title_service">Correction de bug sur votre site internet</h3>
            <div class="separator_service"></div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non sem ipsum. Sed posuere elementum enim ac molestie. 
                Nunc pellentesque scelerisque facilisis. Praesent lacinia est et leo ultricies feugiat. Pellentesque felis ex, fringilla a metus vel, sagittis dictum risus. 
                Vivamus facilisis massa id molestie venenatis. Nulla velit mauris, placerat at viverra non, porta venenatis dui. Ut facilisis efficitur risus, 
                eget luctus risus venenatis pharetra.
            </div>
        </div>
    </div>
</div>
