<div>
    <h2 class="container_title">Profile</h2>
    <div class="container_profile">
        <h3>Langages utilise :</h3>
        <ul>
            <li>HTML & CSS</li>
            <li>Javascript</li>
            <li>SQL</li>
        </ul>
    </div>
    <div class="container_profile">
        <h3>Technologie utilise :</h3>
        <div>
            <h4>Frontend</h4>
            <ul>
                <li>Vues.js</li>
                <li>React.js</li>
                <li>Angular.js</li>
                <li>Sass</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div>
            <h4>Backend</h4>
            <ul>
                <li>MongoDB</li>
                <li>Node.js</li>
                <li>Express.js</li>
            </ul>
        </div>

    </div>
    <div class="container_profile">
        <h3>Outils maitrise :</h3>
        <ul>
            <li>Wordpress</li>
            <li>Shopify</li>
            <li>Figma</li>
        </ul>
    </div>
    <div></div>
</div>
