.container_title{
    background: rgba(30, 29, 29, 0.56);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 4px solid #46CE7C;
    margin: 50px 0 50px 0;
}

.container_profile{
    margin-bottom: 15px;
}